/* antd override */
input {
    border-radius: 5px !important;
    outline: none !important;
    height: 40px !important;
  }
  input:focus {
    border-radius: 20px !important;
  }
  input:hover {
    border-radius: 20px !important;
  }

  label {
    font-size: 16px !important;
    color: black;
  
  }
  
  .ant-form-item {
    margin: 10px 0 !important;
  }
  
  /* Common Styling */
  body {
    font-family: 'Inter', sans-serif;
  }
  .spinner-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.600);
    top: 0;
    left: 0;
    z-index: 9999;
    height: 100%;
    width: 100%;
  }
  .spinner-border {
    width: 4rem;
    height: 4rem;
    color: white !important;
  }
  
  .card  {
    box-shadow: 0 0 2px gray;
    border-radius: 5px;
    color: black;
  }
  
  .page-title {
    font-family: "Exo 2" , sans-serif;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.700);
  }
  
  .card-title {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.700);
    font-weight: 700;
    font-family: "Exo 2", sans-serif;
  }
  
  .card2-title {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.700);
    font-weight: 700;
    font-family: "Exo 2", sans-serif;
  }
  
  .card3-title {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.700);
    font-weight: 600;
    font-family: "Exo 2", sans-serif;
  }

    
  .card3-title:hover {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.500);
    font-weight: 600;
    font-family: "Exo 2", sans-serif;
    
    transition: 0.3s all;
  }
  
  .normal-text {
    font-size: 1rem;
  }
  
  .primary-button {
    height: 40px !important;
    width: 100%;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
  }
  
  .anchor {

    color: black !important;
    font-size: 16px !important;
    transition: 0.2s;

  }
  .anchor:hover {
    text-decoration: underline !important;
  }


  .custom-button {
    width: 96px;
  }

/*  Auth Pages:  */
.authentication {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(37, 37, 37);
  }
  
  .authentication-form {
    width: 400px;
  }    

  /* Todo list Styles */ 
  .task-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin-bottom: 16px;
  }
  
  .task-header {
    margin-bottom: 8px;
  }
  
  .task-header h3 {
    font-size: 18px;
    margin: 0;
  }
  
  .task-header .priority-1 {
    color: rgba(0, 128, 0, 0.7);
}

.task-header .priority-2 {
    color: rgba(255, 166, 0, 0.7);
}

.task-header .priority-3 {
    color: rgba(255, 0, 0, 0.7);
}

  .task-details {
    color: #666;
    font-size: 14px;
  }
  
  .task-actions {
    margin-top: 16px;
  }
  